/*Container Styling*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

#gameInstructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

#Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}

#btnContainer {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreTracker {
    width: 1000px;
    text-align: center;
}

/*Text styling*/

H1 {
    font-family: sans-serif;
    color: #141414;
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 20px;
}

H2 {
    font-family: sans-serif;
    color: #141414;
    font-weight: 300;
    size: 30px;
}

#computerChoiceText {
    font-family: sans-serif;
    color: #141414;
    font-weight: 600;
    font-size: 30px;
}

/*Btn styling*/

.choiceBtn {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    margin: 0 40px 0 40px;
    background-color: #141414;
    border: none;
    font-family: sans-serif;
    color: white;
    font-size: 35px;
    font-weight: 600;
    transition: 0.1s;
    cursor: pointer;
}

.choiceBtnDisabled {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    margin: 0 40px 0 40px;
    background-color: #141414;
    border: none;
    font-family: sans-serif;
    color: white;
    font-size: 35px;
    font-weight: 600;
    cursor:default;
}

.choiceBtn:hover {
    background-color: white;
    border: 2px solid #141414;
    color: #141414;
    width: 225px;
    height: 125px;
}

.choiceBtnActive {
    width: 225px;
    height: 125px;
    border-radius: 20px;
    margin: 0 40px 0 40px;
    background-color: white;
    border: 2px solid #141414;
    font-family: sans-serif;
    color: #141414;
    font-size: 35px;
    font-weight: 600;
    transition: 0.1s;
    cursor: default;

}




